<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>TeraScaleFixup</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>IOClass</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOMatchCategory</key>
			<string>$(PRODUCT_NAME:rfc1034identifier)</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>4600Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD4600Controller</string>
			<key>IOClass</key>
			<string>AMD4600Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>AMD4600Controller</string>
			<key>IOPCIMatch</key>
			<string>0x94901002 0x94881002 0x94981002 0x95401002 0x954F1002 0x95531002</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>4600ControllerLegacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATI4600Controller</string>
			<key>IOClass</key>
			<string>ATI4600Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>ATI4600Controller</string>
			<key>IOPCIMatch</key>
			<string>0x94901002 0x94881002 0x94981002 0x95401002 0x954F1002 0x95531002</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>4800Controller</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMD4800Controller</string>
			<key>IOClass</key>
			<string>AMD4800Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>AMD4800Controller</string>
			<key>IOPCIMatch</key>
			<string>0x94401002 0x944a1002 0x94421002 0x94411002 0x94431002 0x944C1002 0x94601002 0x94621002 0x94b31002</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>4800ControllerLegacy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.ATI4800Controller</string>
			<key>IOClass</key>
			<string>ATI4800Controller</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOName</key>
			<string>ATI4800Controller</string>
			<key>IOPCIMatch</key>
			<string>0x94401002 0x944a1002 0x94421002 0x94411002 0x94431002 0x944C1002 0x94601002 0x94621002 0x94b31002</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>ATIRadeonX2000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ATIRadeonX2000</string>
			<key>IOClass</key>
			<string>ATIRadeonX2000</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x94401002 0x944a1002 0x94421002 0x94411002 0x94431002 0x944C1002 0x94601002 0x94621002 0x94901002 0x94881002 0x94981002 0x95531002 0x94b31002</string>
			<key>IOProbeScore</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ©2024 Jazzzny. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.4.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
